.page {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.page__title {
  text-align: center;
  color: #C52B33;
  margin-bottom: 10px;
  font-size: 30px;
}

.page__subtitle {
  text-align: center;
  color: #C52B33;
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
}

.page__headers {
  font-size: 20px;
  line-height: 47.5px;
  font-weight: 700;
  color: #fff;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}