.segment-overlay.flip .segment-overlay__top {
  animation: flip-top 0.8s linear;
}

.segment-overlay.flip .segment-overlay__bottom {
  animation: flip-bottom 0.8s linear;
}

@keyframes flip-top {
  0% {
    transform: rotateX(0deg);
  }
  50%, 100% {
    transform: rotateX(-90deg);
  }
}

@keyframes flip-bottom {
  0%, 50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}